<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}{% endblock title %} | 2022</title>
</head>
<body>
  <div class="container mx-auto max-w-4xl mt-5 text-gray-600">
	  <div class="">

	  
	  {% block content %}
	  {% endblock content %}
</div>
  </div>
</body>
</html>
