{% extends 'base_.html' %} {% block title %} Кандидат {% endblock title %} 
{% block content %}
<div class="flex flex-col">
  <h1 class="text-center text-5xl font-mono font-bold uppercase mb-5">
    кандидат
  </h1>
  <div class="text-center font-medium text-gray-500 self-center">
    {% if content %} {% for item in content %}
    <div
      class="
        flex flex-col
        justify-center
        uppercase
        text-2xl
        p-4
        leading-10
        tracking-widest
      "
    >
      <h1><span class="text-gray-600">Имя: </span>{{item.name}}</h1>
	  <p class="mb-3"><span class="text-gray-600">Позиция: </span>{{item.position}}</p>
      <img
        class="w-[230px] self-center rounded-lg"
        src="{{item.picture}}"
        alt=""
        srcset=""
      />
      <p class="mt-3"><span class="text-gray-600">Навыки: </span>{{item.skills}}</p>

      <div class="self-center w-10 h-10 font-bold">
        <a class="" href="/">
          <svg class="w-6 h-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
              />
            </svg>
          </svg>
        </a>
      </div>

      {% endfor %} {% else %}
      <p class="uppercase text-5xl mt-[250px]">ОПА тут никого нет...</p>

      {% endif %}
    </div>
  </div>

  {% endblock content %}
</div>
