{% extends 'base_.html' %} {% block content %}
<div class="">
  <h1 class="text-center text-5xl font-mono font-bold uppercase mb-5">
    Все кандидаты
  </h1>
  <div class="text-center font-medium text-gray-500 uppercase opacity-90">
   
      {% for item in content %}
      <div
        class="
          bg-gray-100
          w-1/2
          mx-auto
          hover:bg-gray-200
          transition
          duration-700
          ease-in-out
          hover:border-l-8 hover:border-red-500
        "
      >
        <p class="tracking-widest p-2 m-2">
          <a
            class="hover:underline hover:text-red-600"
            href="/candidate/{{ item.id }}"
            >{{item.name}}</a
          >
        </p>
      </div>
      {% endfor %}
  
  </div>
</div>
{% endblock content %}
