{% extends 'base_.html' %}

{% block title %}Search{% endblock title %}

{% block content %}
<div class="flex flex-col">

  <div class="text-center font-medium text-gray-500 self-center">
    <h1  class="text-center text-5xl font-mono font-bold uppercase mb-5">найдено кандидатов: {{content|length}}</h2>
    {% if content %} {% for item in content %}
    <div
    class="
      bg-gray-100
      w-1/2
      mx-auto
      hover:bg-gray-200
      transition
      duration-700
      ease-in-out
      hover:border-l-8 hover:border-red-500
    "
  >
   
    <p class="tracking-widest p-2 m-2">
        <a
          class="hover:underline hover:text-red-600"
          href="/candidate/{{ item[0] }}"
          >{{item[1]}}</a
        >
      </p>
    </div>
      {% endfor %} {% else %}
      <p class="uppercase text-5xl mt-[250px]">ОПА тут никого нет...</p>

      {% endif %}
    
  </div>

  {% endblock content %}